mark {
    background-color: transparent;
    font-weight: 600;
    color: #353535;
}

.aboutUs-presentation {
    background-image:
        linear-gradient(to bottom, rgb(255 255 255 / 0%) 70%, rgb(221 221 221)),
        url("/img4.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.background-filter {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    opacity: 0.85;
    z-index: 0;
}

.whoIs-and-text {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    gap: 2rem;
}

.title-aboutUs {
    text-align: center;
    margin: 0 2rem;
    font-size: 2.5rem;
    font-family: "EB Garamond", sans-serif;
    font-style: italic;
    color: #353535;
}

.mark-yellow {
    color: var(--yellow);
}

.whoIs-and-text p {
    text-align: center;
    margin: 0 2rem;
    color: #353535;
    font-size: 1rem;
    font-weight: 600;
}

.whoIs-and-text a {
    padding: 1rem 3rem;
    background-color: var(--yellow);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 7px;
}

.aboutUs-colabs {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs-colabs-title {
    margin: 3rem 2rem 0;
}

.aboutUs-colabs p {
    color: #353535;
    font-weight: 500;
    margin: 2rem;
}

.aboutUs-colabs a {
    color: var(--yellow);
    text-decoration: underline;
    font-weight: 600;
}

.aboutUs-colabs img{
    width: 17rem;
    height: 17rem;
    object-fit: cover;
    opacity: .7;
}

@media (min-width: 768px) {

    /* about us */
    .whoIs-and-text p {
        margin: 0 3rem;
    }

    .aboutUs-colabs-title {
        text-align: center;
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .aboutUs-colabs p {
        margin: 3rem;
    }
}

@media (min-width: 1024px) {

    .whoIs-and-text p{
        margin: 0 5rem;
    }
    .whoIs-and-text a{
        padding: 1rem 5rem;
    }
    .aboutUs-colabs-title{
        font-size: 2rem;
    }
    .aboutUs-colabs p {
        margin: 3rem 10rem;
    }
}

@media (min-width: 1440px) {
    .title-aboutUs{
        margin: 0 15rem;
    }
    .whoIs-and-text p{
        margin: 0 15rem;
    }
    .aboutUs-colabs p{
        margin: 3rem 25rem;
    }
    .aboutUs-colabs-container{
        margin: 0 15rem;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 5rem;
    }
    .aboutUs-colabs{
        width: 15rem;
    }
    .aboutUs-colabs p{
        margin: 0;
        font-size: .7rem;
        margin-top: 1rem;
    }
    .aboutUs-colabs img{
        width: 100%;
        height: 15rem;
    }
}