.hotels-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.inConstruction-timer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.inConstruction-timer {
    /* width: 80%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.inConstruction-timer span {
    width: 4rem;
    height: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--yellow);
    border-radius: 5rem;
    color: #fff;
    font-weight: 600;

}

.inConstruction-timer-container h4 {
    font-size: 2rem;
    text-align: center;
    font-family: "EB Garamond", sans-serif;
    font-style: italic;
    color: #353535;
    opacity: 0.8;
}

.data-item {
    width: 45vw;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 3px solid #ebebeb;
}

.data-item img {
    width: 100%;
    height: 8rem;
    object-fit: cover;
    border-bottom: 2px solid #afafaf;
}

.data-item h4 {
    align-content: center;
    text-align: center;
    color: #353535;
    font-size: 1rem;
    margin-top: 0.3rem
}

.data-item p {
    display: none;
    font-size: 12px;
    text-align: center;
    margin-top: 0.5rem;
    padding: 0 .3rem;
    font-weight: 500;
    color: #353535;
}

.data-item a {
    width: 100%;
    text-align: center;
    background: var(--yellow);
    padding: 1rem;
    color: #fff;
    font-weight: 600;
}

.title-section-options{
    margin-left: 1rem;
    margin-top: 2rem;
    font-size: 2.5rem;
    color: var(--yellow);
    font-family: 'EB Garamond', sans-serif;
    font-style: italic;
}